.allcard{
    justify-content: center;
}

.card{
    margin-right:7px;
}

.container{
    padding-top: 20px;
}

.card-header{
    font-size:30px;
    text-align: center;
    background-color: #198754;
    color: white;
}

.relay3{
    background-color: #FFC107;
}

.form-check{
    font-size: 50px;
}

.banner{
    text-align: center;
    padding-top: 20px;
}